[submodule "docs/packages/carbon-client"]
	path = docs/packages/carbon-client
	url = https://github.com/carbon-io/carbon-client-js.git
[submodule "docs/common"]
	path = docs/common
	url = git@github.com:carbon-io/docs-common.git
